@charset "UTF-8";

@import "./variable.scss";

$button-background-color: $white;
$button-border: $grey;
$button-color: $grey;

$button-hover-border: $hover-border;
$button-hover-color: $hover-color;

$button-active-border: $link-active-border;
$button-active-color: $link-active-color;

$button-focus-border: $link-focus-border;
$button-focus-color: $link-focus-color;

$button-link-border: $link-link-border;
$button-link-color: $link-link-color;

.button {
  background-color: $button-background-color;
  border: 1px solid $button-border;
  color: $button-color;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  text-align: center;
  white-space: nowrap;
  border-radius: $radius-medium;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    // $color-invert: nth($pair, 2);
    &.is-#{nth($name, 1)} {
      background-color: $color;
      &:hover,
      &.is-hovered {
        @extend .button;
        background-color: transparentize($color, 0.3);
        border-color: $black;
        // color: $color-invert;
      }


      &.is-outlined {
        @extend .button;
        background-color: transparent;
        border-color: $color;
        color: $color;
        &:hover {
        background-color: $color;
        border-color: $color;
        color: $white;
        // color: $color-invert;
      };
    };

      &:active,
      &.is-active {
        @extend .button;
        border-color: $button-active-border;
        color: $button-active-color;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
      &:focus,
      &.is-focus {
          @extend .button;
          border-color: $button-focus-border;
          color: $button-focus-color;
          box-shadow: 0 0 0 rgba($button-focus-border, 0.3);
        }
      &:link,
      &.is-link {
          @extend .button;
          border-color: $button-link-border;
          color: $button-link-color;
          text-decoration-line: underline;
        }
      }
    }

  &.is-la {
    border-radius: $radius-large;
    font-size: $size-1;
  }
  &.is-md {
    border-radius: $radius-medium;
    font-size: $size-3;
  }
  &.is-sm {
    border-radius: $radius-small;
    font-size: $size-5;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
  &.is-fullwidth {
    width: 100%;
    display: flex;
  }

}
