//////////////////
// Mango_trick //
/////////////////
// 빨간색 - #ff7978
//
// [11:40]
// 노랑색- #f2ca68
//
// [11:41]
// 녹색- #5cd18b
//
// [11:41]
// 파란색- #58a2ed
//
// [11:41]
// 하늘색? - #65d3e4
//
// [11:41]
// 진회색 - #7c8a97
//
// [11:42]
// 회색 - #d2d6d9

// 1. Initial variables

// colors

$black: rgba(0, 0, 0, 1);
$black-md: rgba(0, 0, 0, 0.8);
$black-lo: rgba(0, 0, 0, 0.9);

$grey:  rgba(55, 55, 55, 1);
$grey-md:  rgb(100, 100, 100);
$grey-lo: rgb(130, 130, 130);

$white:  rgb(255, 255, 255);
$white-md:  rgb(231, 231, 231);
$white-lo:  rgb(222, 222, 222);

$red: rgb(255, 120, 121);
$orange:  rgb(242, 202, 104);
$green:  rgb(92, 209, 139);
$blue:  rgb(88, 162, 237);
$pink:  rgb(101, 211, 228);
$purple: rgb(0, 0, 0);

// Typography
// $font-family: ;

// font size
$size-1: 30px;
$size-2: 25px;
$size-3: 20px;
$size-4: 17px;
$size-5: 14px;
$size-6: 14px;
//
// $weight-bold: ;
// $weight-normal: ;
// $weight-light: ;

// radius
$radius-large: 5px;
$radius-medium: 3px;
$radius-small: 2px;


// // 2. primary color
//
// // primary 대표색상 (orange는 우리 대표색상인 망고 색깔로 변경예정)
$primary: $orange;
$info: $blue;
$success: $green;
$danger: $red;
$warning: $pink;

$dark: $black-md;
$light: $white-md;

//  3. Applied variables

// Invert colors
//  colorInvert 함수 짜기(예정)
$red-invert: colorInvert($red);
$orange-invert: colorInvert($orange);
$green-invert: colorInvert($green);
$blue-invert: colorInvert($blue);
$pink-invert: colorInvert($pink);
// $purple-invert: colorInvert($purple);

$primary-invert: colorInvert($orange);
$info-invert: colorInvert($blue);
$success-invert: colorInvert($green);
$danger-invert: colorInvert($red);
$warning-invert: colorInvert($pink);

$dark-invert: colorInvert($black-md);
$light-invert: colorInvert($white-md);

// Text colors
$text: $grey-md;
$text-strong: $grey;
$text-light: $grey-lo;
$text-invert: colorInvert($grey-md);

// Link colors
$link: $primary;
$link-invert: colorInvert(primary-invert);
$link-visited: $purple;


$link-hover-border: $grey-lo;
$link-hover-color: $primary;

$link-active-border: $grey-lo;
$link-active-color: $grey;

$link-focus-border: $grey-lo;
$link-focus-color: $grey;

$link-link-border: $grey-lo;
$link-link-color: $grey;

// list

$colors: (
primary: $primary,
info: $blue,
success: $success,
danger: $red,
warning: $pink,
dark: $black-md,
light: $white-md
)
